<div class="login-page">
  <div class="login-container">
    <div class="login-content">
      <h1 class="login-title">Login</h1>
      <!--<button class="paper-btn btn-small float-right" (click)="alternarDarkMode()">
        {{ darkModeAtivo ? '☀️ Light Mode' : '🌙 Dark Mode' }}
      </button> -->

      <form (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" class="form-control" name="email" placeholder="seu@email.com" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" [(ngModel)]="senha" class="form-control" name="senha" placeholder="••••••••" required>
        </div>
        <button type="submit" class="login-btn">Entrar</button>
      </form>
      <div *ngIf="erro" style="color:red">{{ erro }}</div>
      <div class="register-link">
        <p>Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>




