<div class="creation-page">
  <div class="creation-container">
    <div class="creation-content">
      <h1 class="creation-title">Crie sua rotina!</h1>

      <form (ngSubmit)="onSubmit()" class="tudo">
        <div class="form-section">
          <h3>Insira o nome da sua rotina:</h3>
          <input type="text" [(ngModel)]="nomeRotina" name="nomeRotina" placeholder="Ex: Leitura diária" required>
        </div>
        <!-- <div class="form-section">
          <h3>Descrição (opcional):</h3>
          <textarea class="form-input" rows="3" placeholder="Descreva sua rotina..."></textarea>
        </div> -->
        <div class="form-section">
          <h3>Insira sua meta de dias:</h3>
          <input type="number" [(ngModel)]="metaRotina" name="metaRotina"  placeholder="Ex: 30" required>
        </div>

        <div class="form-section">
          <h3>Insira o tempo da sua rotina:</h3>
          <input type="number" [(ngModel)]="tempoRotina" name="tempoRotina" placeholder="Tempo (em minutos)" min='1' required>
        </div>
        
        <div class="form-section">
          <h3>Escolha o tipo da rotina:</h3>
          <div class="checkbox-group">
            <label class="checkbox-item">
              <input type="radio" name="routine-type" value="estudo"
              [(ngModel)] = "tipoRotina"> 📖 Estudo
            </label>
            <label class="checkbox-item">
              <input type="radio" name="routine-type" value="trabalho"
              [(ngModel)] = "tipoRotina"> 💼 Trabalho
            </label>
            <label class="checkbox-item">
              <input type="radio" name="routine-type" value="exercicio"
              [(ngModel)] = "tipoRotina"> 🏋️‍♀️ Exercício
            </label>
            <label class="checkbox-item">
              <input type="radio" name="routine-type" value="ler"
              [(ngModel)] = "tipoRotina"> 📚Ler
            </label>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" >Criar</button>
          <button type="button" class="btn btn-secondary" (click)="voltarParaInicio()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>




